<div class='browser' style='width:100%;padding:.5em;'>
    <input style='border:0; margin-left:0; width:80%' id='search_field'>
    <button style='min-width:3em' id='search_button'>Search</button>

    <!-- <button style="margin-left:0;" onclick='Gibber.Environment.Account.publish()'>Publish</button> -->
</div>