<div style="width:100%; color:#ccc; padding:1em">
  <p>Creating a Gibber account will allow you to:</p>
  <ul>
    <li>Publish your files</li>
    <li>Ask questions and participate in realtime chat</li>
    <li>Collaboratively code performances / compositions</li>
    <li>Receive private messages from other Gibber users</li>  
  </ul>
  <p>
    You are only required to select a username and password to create an account. We also strongly advise you to provide an email address 
    so we can send you your password if you forget it. Other data is optional, <b>HOWEVER</b>, Gibber is a research project. 
    If you can spare a couple of minutes to answer some questions about yourself, it will help me finish my
    graduate school odyssey and become a productive member of society. No information will be published in a way that is linkable to
    your account; please feel free to fill out as much or as little as you like.
  </p>
  
  <h4>THANK YOU</h4>
  
  <form id='newAccountForm'>
    <table>
      <thead><tr><td width='50%'></td><td width='50%'></td></tr></thead>
      <tbody>
      <tr><td style='color:white'><b>Required</b></td><td>&nbsp;</td></tr>
      <tr>
        <td>
          username&nbsp;&nbsp;  
        </td>
        <td>
          <input id='new_account_username' \>
        </td>
      </tr>
      <tr>
        <td>
          password
        </td>
        <td>
          <input id='new_account_password' \>
        </td>
      </tr>
      <tr><td></td><td>&nbsp;</td></tr>
      <tr><td style='color:white'><b>Strongly advised</b></td><td>&nbsp;</td></tr>      
      <tr>
        <td>
          email&nbsp;&nbsp;
        </td>
        <td>
          <input id='new_account_email' \>
        </td>
      </tr>
      <tr><td></td><td>&nbsp;</td></tr>
      <tr><td style='color:white'><b>Optional</b></td><td>&nbsp;</td></tr>
      <tr>
        <td>
          affiliation
        </td>
        <td>
          <input id='new_account_affiliation' \>
        </td>
      </tr>
      <tr>
        <td>
          website
        </td>
        <td>
          <input id='new_account_website' \>
        </td>
      </tr>
      <tr>
        <td>
          occupation
        </td>
        <td>
          <select id='new_account_occupation'>
            <option>pre-school thru middle school student</option>
            <option>high school student</option>
            <option>college student</option>
            <option>graduate student</option>
            <option>professor / academic researcher</option>
            <option>artist</option>
            <option>musician</option>
            <option>programmer</option>
            <option>graphic designer</option>
            <option>audio engineer</option>
            <option>park ranger</option>
            <option>barber</option>
            <option>other</option>
          </select>           
        </td>
      </tr>
      <tr><td></td><td>&nbsp;</td></tr>
      <tr>
        <td>
          years of programming experience
        </td>
        <td id='new_account_programming_experience'>
          <select>
            <option>0</option>
            <option>&lt; 1</option>
            <option>1 - 2</option>
            <option>3 - 5</option> 
            <option>&gt; 5</option>            
          </select>           
        </td>
      </tr>
      <tr>
        <td>
          years of javascript experience
        </td>
        <td>
          <select id='new_account_javascript_experience'>
            <option>0</option>
            <option>&lt; 1</option>
            <option>1 - 2</option>
            <option>3 - 5</option> 
            <option>&gt; 5</option>            
          </select>           
        </td>
      </tr>
      <tr><td></td><td>&nbsp;</td></tr>    
      <tr style='margin-bottom:1em'>
        <td>
          things you've liked about Gibber
        </td>
        <td  id='new_account_liked'>
          <textarea style='width:100%; height:5em'></textarea>
        </td>
      </tr>
      <tr style='margin-bottom:1em'>
        <td>
          things you've disliked about Gibber
        </td>
        <td>
          <textarea style='width:100%; height:5em' id='new_account_disliked'></textarea>
        </td>
      </tr>
      <tr><td></td><td>&nbsp;</td></tr>    
      <tr>
        <td>
          &nbsp;
        </td>
        <td>
          <button onclick='Gibber.Environment.Account.processNewAccount()'>Submit Account Information</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>  
  
</div>