<div id="credits">
  <p>
  Gibber is designed and maintained by <a href='http://www.charlie-roberts.com'>Charlie Roberts</a>.</p>
  <p> Special thanks to:</p>
  <ul>
    <li>The <a href='http://mat.ucsb.edu'>Media Arts &amp; Technology Program</a> at UC Santa Barbara and Larry Zins for providing Gibber's server.</li>
    <li>The CREATE Ensemble, directed by Matt Wright, for feedback and great performances using Gibber.</li>
    <li>My committee: Dr. JoAnn Kuchera-Morin, Dr. Tobias H&ouml;llerer and Dr. Matthew Wright.</li>
    <li>The <a href='http://rwdfoundation.org'>Robert W. Deutsch Foundation</a>, who provided a generous graduate fellowship enabling me to devote my
      time and energy to Gibber.</li>
    <li>Everyone else who has given feedback or provided inspiration for aspects of Gibber, especially Graham Wakefield, Rainer Schuetz and Erin Hanan.</li>
  </ul>

  <h1>Contributing Open-Source Libraries</h1>
  <p>Gibber wraps and is built on a number of open source libraries; without them Gibber wouldn't be possible.</p>
  <ul>
    <li><a href='http://www.charlie-roberts.com/gibberish'>Gibberish.js</a> - sample accurate sequencing and signal processing in JavaScript.</li>
    <li><a href='http://www.charlie-roberts.com/interface'>Interface.js</a> - An interface toolkit for the browser designed for live performance applications.</li>
    <li><a href='http://codemirror.net/'>CodeMirror</a> - Provides most of the code editing functionality</li>
    <li><a href='http://threejs.org'>Three.js</a> - Gibber wraps this library to provide 3d graphics</li>
    <li><a href='http://nodejs.org'>Node.js</a> - The backend infrastructure for Gibber</li>
    <li><a href='http://expressjs.com'>Express.js</a> - The web server backend for Gibber</li>
    <li><a href='http://socket.io'>Socket.io</a> - Web Web socket library for chatroom communication.</li>
    <li><a href='http://sharejs.org'>Share.js</a> - Realtime collaborative editing library.</li>
    <li><a href='http://jquery.org'>jQuery.js</a> - JavaScript library that makes everything a little easier.</li>
  </ul>

  <h1>Live Coding Inspiration</h1>
  <ul>
    <li><a href='http://toplap.org'>TOPLAP</a> - The officalest live coding resource on the web.</li> 
    <li><a href='http://www.ixi-audio.net/ixilang/'>ixi lang</a> - The simplicity of sequencing in the ixi lang was a big influence on Gibber</li>
    <li><a href='http://chuck.cs.princeton.edu/'>ChucK</a> - The first live coding performance I ever gave was in ChucK</a></li>
  <li><a href='http://livecodelab.net/'>LiveCodeLab</a> - Another amazing web-based live coding evnironment<a></li>
   </ul>  
</div>
