<div id='docs'>

<div id='audioDocs'>
<h1>Audio <button onclick='Gibber.Environment.Docs.showTOC("audioDocs",this)'>show</button></h1>
<div class='docsBody'>
<h2>Oscillators</h2>
<ul>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "sine")'>Sine Oscillator</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "square")'>Square Oscillator</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "triangle")'>Triangle Oscillator</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "pwm")'>PWM Oscillator</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "noise")'>White Noise Oscillator</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "saw")'>Saw Oscillator</a></li>
</ul>

<h2>Drums and Percussion</h2>
<ul>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "drums")'>Drums (Sampled Drum Kit)</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "xox")'>XOX (Synth Drum Kit)</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "kick")'>Kick</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "snare")'>Snare</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "hat")'>Hihat</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "clave")'>Clave</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "tom")'>Tom</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "cowbell")'>Cowbell</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "conga")'>Conga</a></li>
</ul>

<h2>Synths</h2>
<ul>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "synth")'>Synth (oscillator + envelope)</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "synth2")'>Synth2 (synth + filter)</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "fm")'>FM (2-operator FM synth)</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "mono")'>Mono (three oscillator monosynth)</a></li>
</ul>

<h2>Effects</h2>
<ul>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "reverb")'>Reverb</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "crush")'>Crush</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "delay")'>Delay</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "hpf")'>HPF</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "lpf")'>LPF</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "flanger")'>Flanger</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "vibrato")'>Vibrato</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "schizo")'>Schizo</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "chorus")'>Chorus</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "ringmod")'>RingMod</a></li>
</ul>
</div>
</div>

<div id='graphicsDocs'>
<h1>Graphics <button onclick='Gibber.Environment.Docs.showTOC("graphicsDocs",this)'>show</button></h1>
<div class='docsBody'>
<ul>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "geometry")'>3D Geometries</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "canvas")'>2D Canvas</a></li>
</ul>

<h2>Shaders</h2>
<ul>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "film")'>Film Shader</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "kaleidoscope")'>Kaleidoscope Shader</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "dots")'>Dots Shader</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "focus")'>Focus Shader</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "bleach")'>Bleach Shader</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "edge")'>Edge Shader</a></li>
</ul>
</div>

</div>

<div id='interfaceDocs'>
<h1>Interface <button onclick='Gibber.Environment.Docs.showTOC("interfaceDocs",this)'>show</button></h1>
<div class='docsBody'>
<ul>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("interface", "widget")'>Widget Prototype</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("interface", "slider")'>Slider</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("interface", "button")'>Button</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("interface", "knob")'>Knob</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("interface", "crossfader")'>Crossfader</a></li>
</ul>

</div>

</div>

</div>