<div id='docs'>
<h1>Audio</h1>
<h2>Oscillators</h2>
<ul>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "sine")'>Sine Oscillator</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "square")'>Square Oscillator</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "triangle")'>Triangle Oscillator</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "pwm")'>PWM Oscillator</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "noise")'>White Noise Oscillator</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "saw")'>Saw Oscillator</a></li>
<ul>

<h2>Synths</h2>
<ul>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "synth")'>Synth</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "synth2")'>Synth2</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "fm")'>FM</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "mono")'>Mono</a></li>
</ul>

<h2>Effects</h2>
<ul>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "reverb")'>Reverb</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "crush")'>Crush</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "delay")'>Delay</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "hpf")'>HPF</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "lpf")'>LPF</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "flanger")'>Flanger</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "vibrato")'>Vibrato</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "schizo")'>Schizo</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "chorus")'>Chorus</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("audio", "ringmod")'>RingMod</a></li>
</ul>

<br><br>
<h1>Graphics</h1>
<ul>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "geometry")'>3D Geometries</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "canvas")'>2D Canvas</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "film")'>Film Shader</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "kaleidoscope")'>Kaleidoscope Shader</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "dots")'>Dots Shader</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "focus")'>Focus Shader</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "bleach")'>Bleach Shader</a></li>
<li><a href='#' onclick='Gibber.Environment.Docs.openFile("graphics", "edge")'>Edge Shader</a></li>
</div>
