<div id='help'>
<h1>Reference</h1>
<p>The Gibber reference provides a categorized listing of objects available in Gibber. A listing of properties and methods, and in many cases example usages, is provided for each object.</p>
<a href='./docs/index.html' target='_blank'><button>Open Gibber's Reference</button></a>

<h1>Manual</h1>
<p>The manual (on an external site) walks through aspects of Gibber and explains them in depth. Although still under development, this is probably the best place to learn about many of the core concepts in Gibber.</p>
<button onclick='window.open("http://www.gitbook.io/book/bigbadotis/gibber-user-manual")'>Open Gibber's Manual (external link)</button>

<h1>Forum / Mailing List</h1>
<p>Please ask questions on <a href="http://lurk.org/groups/gibber/" target="_blank">the Gibber mailing list!</a> It's the best way to get in touch with the developers and users of Gibber.</p>
<button onclick='Gibber.Environment.Forum.open()'>Open Gibber's Forum</button>

<h1>Example Files / Tutorials</h1>
<p>Have you hit the Browse button in the menubar yet? There are lots of examples and tutorials to help you explore the various features of Gibber.
</p>
<button onclick='Gibber.Environment.Browser.open()'>Open the Browser</button>

<h1>Video Tutorials</h1>
<p>
There are screencasts providing an overview of how to use Gibber. OK, right now there's only one screencast and one performance... but more to come soon!
</p>
<ul>
  <li><a href='https://vimeo.com/80698032/' target='_blank'>Intro to Gibber on Vimeo</a></li>
  <li><a href='https://vimeo.com/80745664' target='_blank'>Live coding performance on Vimeo</a></li>
</ul>

<h1>Chat and Collaboration</h1>
<p>
If you hit the chat button the menubar you'll be able to enter chatrooms and ask questions of other Gibber users. You must be logged in to enter the chatrooms. Once you're in a chatroom, if you want someone to take a look at your code, just click on their name next to any othe their messages. You can then select a code column (identified by the id # in the header) you'd like to share. Optionally, you can choose to enable remote code execution. This will allow you to execute code on the remote computer using Ctrl+2 (immediate execution) and Ctrl+Shift+2 (execute at start of next measure). The collaborator has to approve your request for code sharing / remote execution.
</p>

<h1>Autocomplete</h1>
<p>After you have created an object, you can quickly see a list of methods and properties associated with it by typing the name of the object, a period (as if you were about to identify a method or property), and then hitting Ctrl+Space. This brings up Gibber's autocomplete function. It's not as useful as the reference as there are many properties and methods that aren't meant for end-user use, but it can be helpful. Remember, this only works for objects that have been created.
</p>

<h1>Keystrokes</h1>
<p>
Below is a summary of the various key commands in Gibber. Most of these only work when editing code in a code column. The exception to this is Ctrl+., which halts all graphics and audio.
</p>

<ul>
  <!-- <li><span class='mono'>Ctrl+Space </span>: Autocomplete</li> -->
  <li><span class='mono'>Ctrl+Enter </span>: Execute selected block or single line of code</li>
  <li><span class='mono'>Shift+Ctrl+Enter </span>: Execute selected block or single line of code at the start of the next measure</li>
  <li><span class='mono'>Ctrl+.</span>: Clear all existing audio, visuals and interfaces.</li> 
  <li><span class='mono'>Alt+Enter</span>: Automatically select block surrounding cursor and execute it immediately. The block boundaries are delimited by blank lines of code</li>
  <li><span class='mono'>Shift+Alt+Enter</span>: Select block surrounding cursor and execute it at the start of the next measure.</li>
  <li><span class='mono'>Ctrl+S</span>: If the code in the column you are editing has been published, save the current version.</li>
  <li><span class='mono'>Ctrl+P</span>: Save current selection as 'preload' code; this code will be loaded behind the scenes every time you load Gibber, allowing you to customize aspects and create presets.</li>    
  <li><span class='mono'>Alt+/ </span>: Comment or un-comment single line or block of code</li>
  <li><span class='mono'>Shift+Ctrl+= </span>: (might be easier to think of this as Shift-Ctrl-Plus). Increase font size of code in currently focused column.</li>
  <li><span class='mono'>Shift+Ctrl+- </span>: (Shift-Ctrl-Minus). Decrease the font size of code in currently focused code editor.</li>
  <li><span class='mono'>Shift+Alt+Ctrl+= </span>: Increase background text opacity for code overlays on top of graphics.</li>
  <li><span class='mono'>Shift+Alt+Ctrl+- </span>: Decrease background text opacity for code overlays on top of graphics.</li>
  <li><span class='mono'>Shift+Alt+Ctrl+F </span>: Enter / leave fullscreen mode with currently selected column.</li>
  <li><span class='mono'>Shift+Ctrl+Right </span>: Begin editing next column to the right.</li>
  <li><span class='mono'>Shift+Ctrl+Left </span>: Begin editing next column to the left.</li>
  <li><span class='mono'>Shift+Ctrl+2 </span>: (Shift-Ctrl-@). If you are engaged in a collaborative editing session and execution permissions have been established, this keystroke will let you execute code on your collaborator's computer.</li>
</ul>
</div>
