<html>

<head>
  <script src="http://gibber.mat.ucsb.edu/js/external/script.min.js" type="text/javascript" charset="utf-8"></script>

  <link rel="stylesheet" href="../css/main2.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../css/external/codemirror/codemirror.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../css/external/codemirror/gibber.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../css/external/codemirror/show-hint.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <% if( loadFile ) { %>
  <script type="text/javascript">
    window.loadFile = <%- loadFile %>
  </script>
  <% } %> 
</head>

<body>

<table role='presentation' border='0' id='layoutTable'>
  
  <thead id='mainHeader'>
    <tr>
      <td id='header'>
        <canvas></canvas>
        <h1>gibber</h1>
        <span class='addColumn'>add column :</span>
        <ul>
          <li><button id='browseButton'>browse</button></li>
          <li><button id='publishButton'>publish</button></li>
          <li><button id='chatButton'>chat / collaborate</button></li>
          <li><button id='consoleButton'>console</button></li>
          <li><button id='addCodeButton'>code</button></li>          
          <li><button id='helpButton'>help</button></li>
          <li><button id='creditsButton'>credits</button></li>
        </ul>
        <div id='opacity'></div>
        <div class='login'><a href="#">please login</a></div>
      </td>
    </tr>
  </thead>
  
  <tbody id='mainContent'>
    <tr>
      <td id='contentCell'>
        <!-- have to wrap in div for scrolling on x-axis... freakin' html -->
        <!-- <div id='content'></div>  -->
      </td>
    </tr>
  </tbody>
  
  <tfoot>
    <tr>
      <td id='footer'>
      </td>
    </tr>
  </tfoot>

</table>

</body>

<script>
  
  $script.path( 'http://gibber.mat.ucsb.edu/js/' )
  $script( 'main' )
  
</script>

</html>
