<div id='loginForm' style="position:absolute; right:0; top:0; width:17em; display:block; background-color:#000; z-index:100; border:1px solid #ccc; border-top:0">
  <button 
    style="text-decoration:none; color:#ccc; background:rgba(0,0,0,0); padding:0; margin:0 0 0 .1em; border:0; font-size:1em; cursor:hand" 
    onclick="$('#loginForm').remove()"> 
    &#10005;
  </button>
  
  <div style="margin: 0em 1em .5em auto; width:15em; color:#ccc">
    <h5 style="margin:0">Enter your username and password</h5>
    <input style="width:100%" id='username' value='username' />
    <input style="width:100%; margin-top:1em" id='password' type='password' value='password' />
    <button id='loginSubmit' style='margin:1em 0; float:right' onclick='Gibber.Environment.Account.login()'>Submit</button>
    <p style='margin-top:2em'>Don't have an account? <a href='#' style='color:#ccc' onclick='Gibber.Environment.Account.newAccountForm()'>Create one.</a></p>
  </div>
</div>