<div id='preferences'>
  <h2>Local Preferences (no user account required)</h2>
  <table id='localPreferences' style='width:90%'>
    <thead><tr><td></td><td></td></tr></thead>
    <tbody>
      <tr>
        <td>
          show welcome screen at startup:
        </td>
        
        <td>
          <!-- <input style='border:0; margin-left:0;' id='new_publication_name' \> -->
          <input type='checkbox' id='preferences_showWelcomeScreen' checked>
        </td>
      </tr>
      
      <tr><td></td><td>&nbsp;</td></tr>
      
      <tr>
        <td>
          show giblet browser at startup:
        </td>
        
        <td>
          <!-- <input style='border:0; margin-left:0;' id='new_publication_name' \> -->
          <input type='checkbox' id='preferences_showBrowserOnLaunch' checked>
        </td>
      </tr>
      
      <tr><td></td><td>&nbsp;</td></tr>
      
      <tr>
        <td>
          default language for code editors:&nbsp;&nbsp;  
        </td>
        <td>
          <select style='border:0; margin-left:0;' id='preferences_defaultLanguageForEditors' \>
        </td>
      </tr>
      
      <tr><td></td><td>&nbsp;</td></tr>
      
      <tr>
        <td>show sample code in new editors:</td>
        <td><input type='checkbox' id='preferences_showSampleCodeInNewEditors' checked></td>
      </tr>
      
      <tr><td></td><td>&nbsp;</td></tr>
      
      <tr>
        <td>save soundfont data into localStorage:</td>
        <td><input type='checkbox' id='preferences_saveSoundFonts' checked></td>
      </tr>
      
      <tr><td></td><td>&nbsp;</td></tr>
      <tr><td></td><td>&nbsp;</td></tr>
      
    </tbody>
  </table>
</div>
