<div id='welcome'>
<h2>Welcome</h2>
<p>Gibber is a creative coding environment for audiovisual performance and composition. It contains features for audio synthesis and musical sequencing, 2d drawing, 3d scene construction and manipulation, and live-coding shaders.
</p>
<p>Here's what you need to know to get started with Gibber:</p>
<ul>
  <li>Gibber runs best in Chrome, followed by Firefox and Safari. Some parts run in Opera; IE should be supported in the future when they complete support for the Web Audio. To run the graphics examples you need a computer that is WebGL capable; <a href="http://www.browserleaks.com/webgl">this page will tell you whether or not you can run WebGL</a></li>
  <li>To get a better idea of what Gibber can do, click any of the demos listed to the left. Clicking a demo will automatically load and execute it, and will also remove this welcome window. </li>
  <li>Gibber is a live coding environment. Simply put, this means code can be interpreted and executed at will. To execute a line of code, place your cursor on it and hit Ctrl+Enter. This will also work with a block of selected code. Selecting all code in a column and hitting Ctrl+Enter will effectively run the entire sketch (aka Giblet).</li>
<li>To execute selected code or the current line at the start of the next musical measure, hit Ctrl+Shift+Enter. This lets you launch loops so that they play in sync with one another.</li>
<li>To stop audio and clear graphics, hit Ctrl+. (period)</li>
<li>You can create an account by clicking the link in the upper right-hand corner. Once you've created an account you can save your Giblets for future use and for others to see. You can also enter the chat area and collaboratively code with other chat participants.</li>
<li>There is a lot more information available by hitting the help button in the menubar, including a variety of additional hotkey combinations.</li>
<li>To stop this welcome message from appearing on launch, click the preferences button and uncheck the 'show welcome screen at startup' option.</li>
</ul>
<!-- <li>When experimenting with graphics, use the 'text bg opacity' slider to give code an opaque background so it is easier to read superimposed over the graphics.</li> -->
<p>Please <a href="https://docs.google.com/forms/d/1rmgsV-lZ7Y7ylpYe3aw7HrQih2txY1C8M62eOq4bzk0/viewform" target="_blank">fill out the survey about Gibber</a> after you've experimented with it... your feedback will help improve the project. Thank you!</p>
<!-- <li>Gibber features some novel mapping abstractions that make it easy to assign interactive controls to audiovisual objects, or to map sonic parameters to graphical parameters and vice-versa. If you refer to a property by capitalizing its first letter, a time-based mapping will automatically be made. You can see this in the default Giblet with the Mouse.X and Mouse.Y values. Mouse.x (lowercase) gives the current x position of the mouse in normalized screen coordinates. Mouse.X creates a mapping that continuously changes whatever it is assigned to as the mouse position changes.
</li> -->

</div>
