<div id='welcome'>
<h2>Hi.</h2>
<p>Gibber is a creative coding environment for audiovisual performance and composition. It contains features for audio synthesis, 2d drawing, 3d scene construction and manipulation, and live-coding shaders.
</p>
<p>Here's what you need to know to get started programming in Gibber:</p>
<ul>
<li>Gibber is a live coding environment. Simply put, this means code can be interpreted and executed at will. To execute a line of code, place your cursor on it and hit Ctrl+Enter. This will also work with a block of selected code.</li>
<li>To execute selected code or the current line at the start of the next measure, hit Ctrl+Shift+Enter.</li>
<li>To stop audio and clear graphics, hit Ctrl+. (period)</li>
<li>There are many demo files to explore. Hit the 'browse' button at the top of the screen to access the Gibber database and try some out. Each Gibber sketch you open (affectionately termed Giblets) will open in its own code column.</li>
<li>You can generate an account by clicking the link in the upper right-hand corner. Once you've created an account you can save your Giblets for future use and for others to see.</li>
<li>When experimenting with graphics, use the 'text bg opacity' slider to give code an opaque background so it is easier to read superimposed over the graphics.<li>
<li>Gibber features some novel mapping abstractions that make it easy to assign interactive controls to audiovisual objects, or to map sonic parameters to graphical parameters and vice-versa. If you refer to a property by capitalizing its first letter, a time-based mapping will automatically be made. You can see this in the default Giblet with the Mouse.X and Mouse.Y values. Mouse.x (lowercase) gives the current x position of the mouse in normalized screen coordinates. Mouse.X creates a mapping that continuously changes whatever it is assigned to as the mouse position changes.
</li>
</ul>
</div>
