/*body { margin: 0; }

.login{ position:absolute; right: 1em; top:.5em;}

table {
  width: 100%;
  height: 100%;
  overflow-y:hidden;
  border-spacing:0;
}

thead { margin:0; position:fixed; width:100%; height:2em; overflow:hidden; }
th { padding: 0;}
h1 {
  margin:0;
  display:block;
}

tbody { 
  vertical-align:top;
  display:block;
  margin-top:2em;
  overflow-y:hidden;
}

tfoot { margin:0; position:fixed; width:100%; border-top:1px solid #666; bottom:0; height:2em; background:blue;}

#contentCell { padding:0; }

.column {
  width:800px; 
  border:1px solid:#f00;
  overflow-y:auto;
}*/


body {
  color: #ccc;
	font-family: "Helvetica-Neue", "Helvetica", "sans-serif";
  background: -webkit-linear-gradient(top, rgb(0,0,0) 0%, rgb(60,60,60) 100%);
  margin: 0;
  box-sizing: border-box !important;
}

table, tr, td {
  padding: 0;
  margin:  0;
  border:  0;
  vertical-align: top;
}

table { border-spacing: 0; }

#contentCell {
  height:100%; 
  box-sizing: border-box !important;
  overflow:auto;
}

.editor {
  display:block;
  margin:0;
  height:100%;
}
.column { 
  box-sizing: border-box !important;
  display: inline-block;
  /*vertical-align: top;*/
  height:100%;
}
.columnHeader {
  box-sizing: border-box !important;
  display: inline-block;
  width:100%;
  line-height:2em;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;  
  background: #222;
  font-family: monospace;
/*  padding-left: .35em;  */
  height:2em;  
}
.columnHeader span { display:block; position:relative; left: 2em; font-size: .8em; }

.columnHeader select {
  background: #000;
  color: #aaa;
  border-color: #666;
  -webkit-appearance: none;
  border-radius:0;
  padding: .15em .5em;
}

.resizeHandle {
  box-sizing: border-box !important;
  height:100%;
  background-color:transparent;
  border-right: 1px solid #444;
  border-left: 1px solid #444;  
  float:right;
}

.CodeMirror { color: white !important; }
.CodeMirror-scroll { overflow:scroll; }

.login {
  color:#ccc;
  right:0;
  float:right;
  margin-right:2em;
  margin-top:.25em;
  font-size:.9em;
}

.login a {
  color: #ccc;
}

h1 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  padding-left: .5em;
  left: 0;
  display:inline;
  font-weight:normal;
}

#layoutTable {
  position:absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box !important;
}

#content {
  overflow:hidden; /* this is a pretty important line, otherwise dual horizontal scrollbars happen... there must be a bug in the column resize code */
  width:100%;
  height:100%;
  box-sizing: border-box !important;
}

#header {
  box-sizing: border-box !important;
  height: 1.5em;
  overflow:hidden;
}

#layoutTable > tbody { margin-top:1.5em; display: block; position:absolute; /*top:1.5em;*/ box-sizing: border-box !important;}

tfoot {
  height: 1.5em;
  box-sizing: border-box !important;
  border-top: 1px solid #444;
}

.login{ position:absolute; right: 1em; top:.25em;}

tbody { overflow-x:scroll; vertical-align:top;  box-sizing: border-box !important;}
body { margin: 0;}

thead { height:1.5em; margin:0; position:fixed; width:100%; border-bottom: 1px solid #444; }
tfoot { margin:0; position:fixed; bottom:0; width:100%; }
tr { margin: 0; }
#header { height: 1.5em; width:100%; }
#footer { height: 1.5em; }

/*#contentCell { width: 3000px !important; display:block; height:100%; }*/
/*#content {
  top:0;
  height:500px;
}*/

canvas {
  height: 1.5em;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  width:5em;
}