/* Based on Sublime Text's Monokai theme */

.cm-s-thecharlie {background: rgba(0,0,0,.3); color: #fff;}
.cm-s-thecharlie div.CodeMirror-selected {background: #511 !important;}
.cm-s-thecharlie .CodeMirror-gutter {background: #272822; border-right: 0px;}
.cm-s-thecharlie .CodeMirror-gutter-text {color: #d0d0d0;}
.cm-s-thecharlie .CodeMirror-cursor {border-left: 1px solid #f8f8f0 !important;}
      
.cm-s-thecharlie span.cm-comment {color: #a32;}
.cm-s-thecharlie span.cm-atom {color: #ae81ff;}
.cm-s-thecharlie span.cm-number {color: #6C99BB;}
      
.cm-s-thecharlie span.cm-property, .cm-s-monokai span.cm-attribute {color: #fff;}
.cm-s-thecharlie span.cm-keyword {color: #f92672;}
.cm-s-thecharlie span.cm-string {color: #A5C261; }
      
.cm-s-thecharlie span.cm-variable {color: #fff;}
.cm-s-thecharlie span.cm-variable-2 {color: #fff;}
.cm-s-thecharlie span.cm-def {color: #fd971f;}
.cm-s-thecharlie span.cm-error {background: #f92672; color: #f8f8f0;}
.cm-s-thecharlie span.cm-bracket {color: #f8f8f2;}
.cm-s-thecharlie span.cm-tag {color: #f92672;}
.cm-s-thecharlie span.cm-link {color: #ae81ff; cursor:pointer}

.cm-s-thecharlie .CodeMirror-matchingbracket {
  /*text-decoration: underline;*/
  background:#333;
  color: white !important;
}
